<ng-container *ngFor="let user of onlineUsers">
    <div class="games-container" [ngClass]="{'in-waiting': user.inWaiting}">
        &nbsp;<img class="rounded-circle" [src]="user.photoURL" [matMenuTriggerFor]="menu" />
        <p>{{user.displayName}}</p>
        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="'/profile/' + user.uid">View profile</button>
            <button *ngIf="user.inWaiting" mat-menu-item (click)="joinGame(user.currentGameId)">Join game</button>
        </mat-menu>
    </div>
</ng-container>
